@font-face {
    font-family:'P22UndergroundCYPro-Book';
    src: url('font/P22UndergroundCYPro-Book.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Demi';
    src: url('font/P22UndergroundCYPro-Demi.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Heavy';
    src: url('font/P22UndergroundCYPro-Heavy.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Light';
    src: url('font/P22UndergroundCYPro-Light.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Medium';
    src: url('font/P22UndergroundCYPro-Medium.otf');
}

@font-face {
    font-family:'P22UndergroundCYPro-Thin';
    src: url('font/P22UndergroundCYPro-Thin.otf');
}

body{
    background-color:F0EFF4;
}
#col1,#profile {
    background-color:white;
    font-family: Verdana, Arial, sans-serif; 
    font-weight: bold; 
    font-size: 80%; 
    color: white; 
    width: 20%; 
    padding: 5px;  
    float: left;
    height: 100vw;
}
#main{
    font-family: Verdana, Arial, sans-serif; 
    font-weight: bold; 
    font-size: 80%; 
    background-color:#F0EFF5; 
    width: 55%; 
    padding: 5px;  
    float: left;
    height: 100%; 
} 
#col1, #main, #profile { 
    font-family: "Times New Roman", Times, serif; 
    font-size: 100%; 
    font-weight: normal; 
    color: black; 
    height: 100%;
}
.tr { 
    clear: both;
    height: 100%; 
}
.new_vacancy{
    text-align:center; 
    padding: 1vw; 
    border:solid 0.1vw black; 
    border-radius: 1.5vw; 
    color:black; 
    background:white;
    position:absolute;
    top: 14.5vw;
    width: 8vw;
    left: 6vw;
    font-family: P22UndergroundCYPro-Light;
    font-size: 1vw;
}
.vacancy{
    width: 50vw;
    height: 15vw;
    background-color: white;
    border-radius: 2vw;
    margin: 2vw;
}
.vacancy_title{
    color:#000000;
    size: 5vw;
    pading-top: 2vw;
    font-family: P22UndergroundCYPro-Light;
    padding-left:4vw;
    margin:0;
}
.vacancy_image{
    padding-top: 1vw;
    width: 10;
    height: 4;
}
.logo{
    margin-left: 2vw;
}
.vacancy_reward{
    color:#CC0033;
    font-size:2.5vw;
    font-family:P22UndergroundCYPro-Light;
    padding-top:1.6vw;
    padding-left:43vw;
    margin:0;
}
.vacancy_salary{
    position:absolute;
    font-family:P22UndergroundCYPro-Demi;
    font-size:1vw;
    color:black;
    padding-top: 3vw;
    padding-left:4vw;
}
.vacancy_company{
    position:absolute;
    font-family:P22UndergroundCYPro-Thin;
    font-size:1vw;
    color:#333333;
    padding-top: 3vw;
    padding-left:16vw;
}
.menu{
    position:absolute;
    top: 18.5vw;
    color:black;
    font-size: 1.5vw;
    font-family:P22UndergroundCYPro-Demi;
    list-style-type:none;
}

.main_menu{
    color:black;
    font-family:P22UndergroundCYPro-Demi;
    text-decoration: none;
    padding-left: 0.5vw;
}
.main_menu:hover{
    color:#C14249;
}

#profile .info{
    display: none;
}
.demanded{
    color: #CC0033;
}


/** Google+ Button */
#signinButton.demo {
    padding: 15px;
    margin: 60px;
    cursor: pointer;
    line-height: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
#signinButton.demo .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('../img/list/btn_icons_sprite.png') transparent 0 -40px no-repeat;
}
#signinButton.demo:hover {
    background-color: #cc3732;
    color: #fff;
    border: #dd4b39;
}
#myBtn.demo:hover .icon {
    background: url('../img/list/btn_icons_sprite.png') transparent 0 0px no-repeat;
}

/** New Vacancy Form */
.vacancy_link{
    color:#CC0033;
    font-size:1.5vw;
    font-family:P22UndergroundCYPro-Light;
    margin:0;
    border: none;
    text-decoration: none;
    text-align: center;
}

.hiddenVacancy{
    display: none;
}

.legend_new_vacancy{
    text-align: center; font-size: 2vw; color: #CC0033; font-family: P22UndergroundCYPro-Demi; 
    margin-top: 1vw;
}

.new_vacancy_form1{
    width: 50vw;
    height: 45vw;
    background-color: white;
    border-radius: 2vw;
    margin: 2vw;   
}
.new_vacancy_form2{
    width: 50vw;
    height: 20vw;
    background-color: white;
    border-radius: 2vw;
    margin: 2vw;   
}